*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/*==Menu==*/
#menu ul{
    background-color: #f2f7969d;
    list-style-type: none;
    text-align: center;
 
}
#menu li{
    color: black;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a{
    color: #040404;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background: #f2f796;
    color: #333;
}
a.active {
    background-color: #f2f796;
}
/*Dropdown Menu*/
#menu li{
    position: relative;
}
.sub-menu{
    display: none;
    position: absolute;
}
#menu li:hover .sub-menu{
    display: block;
}
.sub-menu li{
    margin-left: 0 !important;
}
