h2{
    margin-left: 5%;     
}
.container1 {
    width: 60%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button2 {
    background-color: #f2f796;
    color: rgb(50, 7, 7);
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    position: absolute;right: 10px;top: 5px;
    
}
.button2:hover {
    opacity:1;
}
.button2 a{
    color: #040404;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.recipe-title {
    color: #ff4500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-title h2 {
    margin: 0;
}

.favorite-btn {
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.favorite-btn:hover {
    background-color: #ff4500; /* Darker shade of tomato */
}

.recipe-info h3 {
    margin-top: 20px;
}

#ingredients-list,
#instructions-list {
    list-style-type: none;
    padding: 0;
}

#ingredients-list li,
#instructions-list li {
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
