*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/*==Menu==*/
#menu ul{
    background-color: #f2f796;
    list-style-type: none;
    text-align: center;
    margin-top: 1%;
}
#menu li{
    color: black;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a{
    color: #040404;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background: #f2f796;
    color: #333;
}
a.active {
    background-color: #f2f796;
}
/*Dropdown Menu*/
#menu li{
    position: relative;
}
.sub-menu{
    display: none;
    position: absolute;
}
#menu li:hover .sub-menu{
    display: block;
}
.sub-menu li{
    margin-left: 0 !important;
}

/*Find bar*/
.container{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}
.container input#search{
    width: 300px;
    height: 40px;
    background: rgba(181, 172, 172, 0.413);
    border: none;
    font-size: 12pt;
    float: left;
    color: rgb(7, 7, 7);
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
.container input#search::-webkit-input-placeholder{
    color:#65737e;
}
.container input#search:-moz-placeholder{
    color: #65737e;
}
.container input#search::-moz-placeholder{
    color: #65737e;
}
.container input#search:-ms-input-placeholder{
    color: #65737e;
}
.container .icon{
    position: absolute;top: 8px;
    border: none;
    background: none;    
    opacity: 0;
    font-size: 10pt;
    color: #f2f796; 
}
.container input#search:focus, .container input#search:active{
    outline:none; 
}
.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}
.container:hover button.icon:hover{
    background: none;
}
.container:hover .icon{
    margin-top: 16px;
    color: #93a2ad;
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}
.button2 {
    background-color: #f2f796;
    color: rgb(50, 7, 7);
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    position: absolute;right: 10px;top: 5px;
    
}
.button2:hover {
    opacity:1;
}
.button2 a{
    color: #040404;
    text-decoration: none;
    display: block;
    font-size: 15px;
}